{erl_opts, [debug_info]}.
{deps, []}.

{cover_enabled, true}.
{cover_opts, [verbose]}.

{dialyzer, [
    {warnings, [unknown, unmatched_returns, error_handling]},
    {plt_apps, top_level_deps},
    {plt_extra_apps, [eunit]},
    {base_plt_apps, [erts, kernel, stdlib]}
]}.

{alias, [
    {check, [eunit, cover, dialyzer]}
]}.

{shell, [
    %% {config, "config/sys.config"},
    {apps, [ariadne]}
]}.

{profiles, [
    {test, [
        {extra_src_dirs, [{"test", [{recursive, true}]}]}
    ]}
]}.
