{erl_opts, [debug_info]}.
{deps, []}.

{alias, [
    {test, [eunit, cover]}
]}.

{profiles, [
    {test, [
        {extra_src_dirs, [{"test", [{recursive, true}]}]},
        {cover_enabled, true},
        {cover_opts, [verbose]},
        {cover_excl_mods, [
            ari_test_node,
            ari_partial_node,
            ari_init_node,
            ari_relay_node,
            ari_notify_node,
            ari_loop_node
        ]}
    ]}
]}.

{shell, [
    %% {config, "config/sys.config"},
    {apps, [ariadne]}
]}.
